<div class='container'>
  <div>
    <h1><%= @task.title %></h1>
  </div>

  <div  class='well'>
    <p><%= @task.description %></p>
  </div>
  <footer>
  <div class='col-md-3'>
    <a class='btn btn-info btn-block' href="/tasks"href='/tasks'>Task Index</a>
  </div>
  </footer>
</div>
